.comida {
  border: 2px solid rgb(146, 145, 145);
  box-shadow: 5px 5px 10px rgb(128, 128, 128);
  border-radius: 20px;
  padding: 10px;
  background-color: aliceblue;
}

.comida img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}
.comida button {
  background: rgb(231, 13, 89);
  background: radial-gradient(
    circle,
    rgba(231, 13, 89, 1) 13%,
    rgba(177, 59, 227, 1) 88%,
    rgba(161, 67, 233, 1) 97%,
    rgba(62, 241, 165, 1) 100%
  );
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
