.contenedor {
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: left;
}


.recetasImagenes {
  width: 550px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}



.contenedor-span {
    display: flex;
    gap: 10px;
}