h1, h2 {
  color: rgb(17, 24, 39);
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "", Courier
}

.about-content {
  border: 1px solid rgb(17, 24, 39);
  padding: 50px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  background-color: white;

}

.about-container {
  width: 500px;
  padding-left:32%;
}
