.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "nunito";
}
.side-recetas {
  display: flex;
  gap: 15px;
}
.recetasGaleria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-block: 20px;
}
.containerTitle {
  font-family: "choco";
}
.containerTitle h3 {
  font-size: 4rem;
  margin-block: 10px;
  margin-right: 200px;
}
.containerTitle h5 {
  margin-block: 10px;
  font-size: 1.5rem;
}
.buttonSelect {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-block: 30px;
}
.buttonSelect button {
  width: 150px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 2px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "nunito";
  font-size: 1.2rem;
}
.buttonEntrante {
  background-color: #ff5d28;
  transition: 0.2s;
}
.buttonPrincipal {
  background-color: #98abee;
  transition: 0.2s;
}
.buttonPostre {
  background-color: #ee99c2;
  transition: 0.2s;
}
.buttonTodos {
  background-color: #a3c9aa;
  transition: 0.2s;
}
.buttonSelect button img {
  width: 20px;
}

.buttonMostrarMas button {
  width: 150px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 2px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "nunito";
  font-size: 1.2rem;
  margin-inline: auto;
  margin-block: 20px;
  background-color: #a3c9aa;
  transition: 0.2s;
}

.buttonEntrante:hover {
  background-color: #e55424;
  transition: 0.5s;
  scale: 0.9;
}
.buttonPrincipal:hover {
  background-color: #8495d1;
  transition: 0.5s;
  scale: 0.9;
}
.buttonPostre:hover {
  background-color: #cd82a6;
  transition: 0.5s;
  scale: 0.9;
}
.buttonTodos:hover {
  background-color: #8daf93;
  transition: 0.5s;
  scale: 0.9;
}
.buttonMostrarMas button:hover {
  background-color: #8daf93;
  transition: 0.5s;
  scale: 0.9;
}
