.containerNavbar {
  width: 99.8dvw;
  padding-top: 10px;
}
.contentNavbar {
  max-width: 1280px;
  padding-inline: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "nunito";
  margin-inline: auto;
}
.containerLogoNavbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.containerLogoNavbar img {
  width: 70px;
  height: 70px;
}
.containerLogoNavbar h1 {
  font-size: 1.2rem;
  font-family: "choco";
  margin: 0;
}
.containerLink {
  font-size: 1.1rem;
  display: flex;
  gap: 50px;
}
.containerLink p {
  color: black;
  font-weight: bold;
}
.containerCreateRecipe {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 50px;
  margin-inline: 20px;
  margin-block: 10px;
  background-color: #F2BC57;
}
.containerCreateRecipe p {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0;
}

.containerCreateRecipe:hover {
  background-color: #956c3d;
  color: white;
  font-weight: bold;
  transition: 0.5s;
  scale: 0.9;
}

.containerCreateRecipe:hover p {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.crear-receta-btn {
  border-radius: 20px;
  border: 0.5px solid black;
  height: 35px;
  background-color: rgb(254, 238, 218);
  margin-right: 15px;
}

.crear-receta-btn:hover {
  background-color: rgb(165, 67, 42);
}


.navbar-linea {
  background-color: rgb(237 202 144 / 26%);
  height: 1px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}