.containerNavbar {
  margin: 0;
  padding: 0;
  background-color: bisque;

  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.containerNavbar img {
  width: 70px;
  height: 70px;
}
.containerNavbar h1 {
  font-size: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.crear-receta-btn {
  border-radius: 20px;
  border: 0.5px solid black;
  height: 35px;
  background-color: rgb(254, 238, 218);
  margin-right: 15px;
}

.crear-receta-btn:hover {
  background-color: rgb(165, 67, 42);
}