.containerFooter {
  background-color: rgb(237 202 144 / 26%);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 99.5vw;
}

.containerFooter a {
  text-decoration: none;
  color: black;
}
.containerFooter img {
  width: 100px;
  filter: grayscale(1);
  margin: 0;
}


.containerFooter a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(17, 24, 39);
}

.containerFooter img {
  width: 32px;
  height: 32px;
}