.containerFooter {
  background-color: bisque;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 99.5vw;
}

.containerFooter a {
  text-decoration: none;
  color: black;
}
.containerFooter img {
  width: 100px;
  filter: grayscale(1);
  margin: 0;
}
