.containerFooter {
  background-color: rgb(237 202 144 / 26%);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.containerFooter a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(17, 24, 39);
}

.containerFooter img {
  width: 32px;
  height: 32px;
}