#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.containerApp {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recetasGaleria {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}